.click-link{
    color: aliceblue;
}

.container{
    margin-bottom: 100px;
}

.text-center1{
    text-align: center;
}

.bg-nav{
    background-image: url(../img/home-bg.jpg);
}

.container-j{
    padding-top: 10em;
}
.container-exp{
    width: 80%;
    margin: auto;
    height: 10%;
   
}

.jumbotron1{
    background-color: gainsboro;
    margin-bottom: 5%;
}

.font1{
    font-size: 100px;   
}

.font-s1{
    font-size: 30px;
}

@media (min-width:576px){.jumbotron1{padding:4rem 2rem}}